* {
    font-family: "Work Sans", sans;
    box-sizing: border-box;
}
th {
    text-align: left;
}
body {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.25rem;
}
h2 {
    margin-top: 0;
    margin-bottom: 0.25rem;
}
h1, h2 {
    font-family: sans-serif;
}
h1 {
    margin-bottom: 0;
}
h1 + p {
    margin-top: 0.25rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tr th:first-child {
    width: 6ch;
}
th {
    font-weight: normal;
    font-style: italic;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
nav ul li {
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
footer {
    margin-top: 1rem;
    border-top: 1px solid #ccc;
}
footer p {
    font-size: 0.8rem;
    margin-top: 1rem;
}
svg {
    height: 1rem;
    fill: white;
    width: 2ch;
}
nav a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    background-color: royalblue;
    padding: 0.25rem;
}
.current-month {
    background-color: #cfc;
    border: 1px solid #ccc;
}
#home ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#station-list {
    columns: 3;
}
@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        padding-bottom: 0.25rem;
    }
    #station-list {
        columns: 1;
    }
}
input {
    width: 100%;
    display: block;
}
input[type="text"] {
    height: 2rem;
}
form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.25rem;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}
a {
    color: royalblue;
}